<!DOCTYPE html>
<html>
<head>
    <title>Ad Viewer</title>
</head>
<body style="text-align:center; font-family:Arial;">

<h2>Watch Advertisement</h2>

<video controls width="400">
    <source src="{{ url_for('static', filename='video/ad.mp4') }}" type="video/mp4">
</video>

<br><br>

<button onclick="clickAd()">Click Ad</button>

<div id="result" style="margin-top:20px;"></div>

<script>
function clickAd() {
    fetch('/click', {
        method: 'POST'
    })
    .then(res => res.json())
    .then(data => {
        document.getElementById("result").innerHTML =
            "IP: " + data.ip + "<br>" +
            "Result: " + (data.fraud ? "FRAUD ❌" : "GENUINE ✅") + "<br>" +
            "Reason: " + data.reason;
    });
}
</script>

</body>
</html>
